<form
        ws-send
        hx-reset-on-success
        onkeydown="if(event.keyCode == 13 && !event.shiftKey) { event.preventDefault(); return false }"
        hx-trigger="click from:#send,keyup[!shiftKey && keyCode==13]"
        :class="username === '' ? 'is-hidden' : ''"
>
    <input type="hidden" name="username" :value="username" />
    <div class="is-flex is-align-items-center">
        <div class="field is-flex-grow-1 mr-4">
            <textarea class="textarea is-info has-fixed-size" rows="2" name="message" placeholder="Say something" required=""></textarea>
        </div>
        <div class="field">
            <button class="button is-success is-medium mb-3" id="send"><i class="fa-solid fa-paper-plane"></i>&nbsp;SEND</button>
        </div>
    </div>
</form>

<div id="chat" hx-swap-oob="beforeend">
</div>