<head>
    <title>Chat</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#3D45B0">
    <script src="https://cdn.wigger.one/js/htmx.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.wigger.one/js/ws.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdn.wigger.one/js/persist.js"></script>
    <script defer="" src="https://cdn.wigger.one/js/alpine.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.wigger.one/css/bulma.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="canonical" href="https://chat.wigger.dev/">
    <link rel="icon" href="https://cdn.wigger.one/img/icon.ico">
    <link rel="stylesheet" href="https://cdn.wigger.one/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>