<head>
    <title>Chat</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#3D45B0">
    <script src="https://cdn.wigger.one/js/htmx.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script src="https://cdn.wigger.one/js/ws.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdn.wigger.one/js/persist.js"></script>
    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>

    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>    <script defer="" src="https://cdn.wigger.one/js/alpine.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.wigger.one/css/bulma.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css" integrity="sha512-RpeJZX3aH5oZN3U3JhE7Sd+HG8XQsqmP3clIbu4G28p668yNsRNj3zMASKe1ATjl/W80wuEtCx2dFA8xaebG5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="canonical" href="https://chat.wigger.dev/">
    <link rel="icon" href="https://cdn.wigger.one/img/icon.ico">
    <link rel="stylesheet" href="https://cdn.wigger.one/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.css" integrity="sha512-hLLNN0vjl0jx+7whWX13jNmgFCE4qRM7llh6eu+NTD9gaIZHqXgQLiojT9d1NNLqzj2WUWTFnHVZ3NgZIO6/Eg==" crossorigin="anonymous" referrerpolicy="no-referrer" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.css" integrity="sha512-hLLNN0vjl0jx+7whWX13jNmgFCE4qRM7llh6eu+NTD9gaIZHqXgQLiojT9d1NNLqzj2WUWTFnHVZ3NgZIO6/Eg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/styles.css">
</head>